body {
    font-family: 'Rubik', sans-serif;
    font-size: .9rem;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}
.container {
    margin: 3rem auto;
    max-width: 1020px;
    height: 100vh;
}

.phone {
    position: relative;
    outline: 1px solid brown;
    border-radius: 30px;
    margin: auto;
    padding: .5rem;
    height: 85vh;
    max-width: 400px;
    flex-basis: 36%;
    background-color: white;

}

.earpiece {
    position: absolute;
    background-color: white;
    left: 85px;
    top: 8px;
    width: 50%;
    height: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.chat {
    overflow: auto;
    height: 70%;
    position: relative;
}

.chat::-webkit-scrollbar {
    display: none;
}
.profile {
    background-image: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    display: flex;
    align-items: center;
    padding: 1.4rem 1.5rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.arrow {
    width: 8px;
    height: 8px;
    border-style: solid;
    border-bottom: none;
    border-right: none;
    border-color: white;
}

.back {
    rotate: -45deg;
}
.forward {
    rotate: 140deg;
}
.avatar {
    width: 30px;
    height: 30px;
    outline: 2px solid white;
    border-radius: 50%;
    overflow: hidden;
    margin-left: .8rem;
}
.name {
    line-height: .2;
    margin-left: 1rem;
    color: white;
}
.name p:first-child {
    font-weight: 700;
}
.name p:last-child {
    font-size: .8rem;
}
.dots {
    margin-left: auto;
}
.dot {
    background-color: white;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin: 2px 0;
}

.message {
    border-radius: 15px;
    padding: .5rem;
    width: 60%;
    margin: .7rem 0;
}

.walker {
    color: hsl(276, 55%, 52%);
    background-color: hsl(276, 100%, 92%);
}
.images {
    display: flex;
    justify-content: space-between;
}
.images img {
    border-radius: 10px;
    width: 50px;
}
.client {
    margin-left: auto;
    color: hsl(271, 15%, 43%);
    background-color: hsl(200, 10%, 90%);
}

.payment {
    background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    padding: 0 1rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    border-radius: .8rem;
    width: 70%;
    color: white;
}
.checkbox {
    width: 20px;
    height: 20px;
    outline: 1px solid;
    border-radius: 50%;
}
.payment p {
    margin-left: .7rem;
}
.payment h3 {
    margin-left: auto;
}

.input {
    width: 80%;
    position: absolute;
    bottom: 10px;
    left: 3%;
    right: 3%;
    padding: 0 1rem;
    background-color: white;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, .4);
    border-radius: 20px;
}
.send {
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  hsl(271, 36%, 24%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.info {
    text-align: center;
    padding: 1rem;
    font-size: large;
    flex-basis: 40%;
}
h1 {
  font-weight: 700;  
  color: hsl(271, 36%, 24%);
}

.hide {
    display: none;
}

.background1 {
    background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    position: absolute;
    /* background-color: black; */
    width: 300px;
    height: 90%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    left: -100px;
    top: 0;
}
.background2 {
    z-index: -1;
    background-color: hsl(270, 20%, 96%);
    position: absolute;
    /* background-color: black; */
    width: 500px;
    height: 90%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    right: -100px;
    bottom: 0;
    display: none;
}

@media (min-width: 800px) {
    body {
        overflow: hidden;
    }
    .container {
        margin: 0 auto;
        display: flex;
        align-items: center;
    }    
    .info {
        text-align: left;
    }
    .background1 {
        width: 500px;
    }
    .background2 {
        display: block;
    }
}
